.number-left p {
  width: 5em;
  padding: 1em;
  border: 1px solid black;
  float: left;
  margin: 0;
}

.number-right p {
  width: 5em;
  padding: 1em;
  border: 1px solid black;
  float: right;
  margin: 0;
}

.paragraph  {
    clear: both;
    margin: 0;
}
