@keyframes moving {
  0% {left: 0%; top: 0%}
  25% {left: 75%; top: 0%}
  50% {left: 75%; top:75%}
  75% {left: 0%; top:75%}
  100% {left: 0%; top: 0%}
}

@keyframes moving-reverse {
  0% {left: 0%; top: 0%}
  25% {left: 0%; top: 75%}
  50% {left: 75%; top:75%}
  75% {left: 75%; top:0%}
  100% {left: 0%; top: 0%}
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(50deg);}
  50% {transform: rotate(100deg);}
  75% {transform: rotate(150deg);}
  100% {transform: rotate(360deg);}

}

.crazy {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  background-color: lightgreen;
  animation-name: moving;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.crazy-reverse {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  background-color: red;
  animation-name: moving-reverse;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.spinner {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  background: transparent;
  border: solid 8px orange;
  border-top: solid 8px transparent;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
