:root {
    --primary: #D0B085;
    --secondary: #707070;

    /*BUTTON VARIABLEN*/
    --btn-border: solid var(--brown) 2px;
    --btn-padding: 0.75em 1.2em 0.45em;
    --btn-margin: 1em auto;

/* Screengröße */
    --screen-max: 1140px;

/* Paddings */
    --padding-small: 30px;
    --padding-normal: 100px;
    --padding-huge: 200px;

}

@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/Josefin_Sans/JosefinSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(..\fonts\Josefin_Sans\JosefinSans-Bold.ttf);
  font-weight: 700;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans';
  color: var(--secondary);
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  font-family: 'Josefin Sans';
  font-size: 14px;
  color: var(--primary);
  text-decoration: none;
  margin: 1em 0;
}

a:hover {
  color: var(--secondary)
}

a.button {
  display: inline-block;
  margin: var(--padding-small) auto;
  padding: 15px 20px;
  border: 1px solid var(--primary);
  background: transparent;
  color: var(--primary);
  text-transform: uppercase;
}

a.button:hover {
  background: var(--primary);
  color: white;
}

.container-fluid {
  position: relative;
  width: 100%;
  padding: var(--padding-normal) 0;
  margin: 0;
  background: white;
}

.container {
  position: relative;
  max-width: var(--screen-max);
  padding: 0;
  margin: 0 auto;
}

div.gap-small {
  content: "";
  padding: var(--padding-small);
}

div.gap-normal {
  content: "";
  padding: var(--padding-normal);
}

div.gap-huge {
  content: "";
  padding: var(--padding-huge);
}


@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}

@media (max-width: 1140px) {

  .container {
    padding: 0 10px;
  }

}
