:root {
  --screen-max: 1200px;
  --base-font: 'Montserrat', Tahoma, sans-serif;
  --alternative-font: 'Pridi', 'Times New Roman', serif;
  --light-grey: #d3d3d3;
  --medium-grey: #808080;
  --dark-grey: #404040;
  /* Footer */
  --footer-backgound: #525252;
  --footer-top-color: #c2c2c2;
  --footer-top-color-hover: #fff;
  --footer-bottom-color: #666;
  --footer-bottom-color-hover: #fff;

  --main-padding: 1rem;
}

/* Verweis auf Hauptschriftart */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

/* Verweis auf Alternativschriftart */
@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi-ExtraLight.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi-Bold.ttf);
  font-weight: bold;
}

html * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: var(--base-font);
  font-size: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
  padding: 0 10px;
}

#logo-left {
  z-index: 100;
  top: 0;
  left: 5em;
  width: 7em;
  height: 7em;
}

#logo-left a {
  display: block;
  width: 100%;
  height: 100%;
  background: grey url('../img/logo_muthwill.svg') no-repeat center center;
  background-size: 80%;
  text-indent: -9999em;
  overflow: hidden;
}

#logo-right {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 7em;
  width: 15em;
  height: 7em;
}

#logo-right a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: 500;
  color: grey;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  /* Body hat volle Viewport-Höhe */
}

header #main-header {
  position: relative;
  width: 100%;
  height: 45vw;
  overflow: hidden;
}

header img {
  display: block;
  width: 100%;
  height: 45vw;
  object-fit: cover;
  object-position: center;
}

header h1 {
  font-family: 'Pridi', 'Times New Roman', serif;
  font-size: 2em;
  line-height: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px;
}

header #main-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

header #main-header .inner-wrapper,
.content-element. .inner-wrapper,
header #main-header h1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

main {
  flex: 1;
}

section .content-elemnt {}

main header h2 {
  font-family: 'Pridi', 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 3em;
  color: var(--dark-grey);
  text-transform: uppercase;
}

footer {
  background: var(--footer-backgound);
  padding: 10px 0px;
  color: c2c2c2;
}

footer .footer-top {
  font-family: var(--alternative-font);
  font-weight: lighter;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer .footer-left {}

footer .footer-right {}

/* man kann 2 Elemente hintereinander schreiben, um z.B. alle Listen im Footer anzusprechen */
footer ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0;
}

footer li {
  padding-bottom: 5px;
}

footer a {
  color: var(--footer-top-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--footer-top-color-hover);
  text-decoration: none;
}

ul.list-footer-right {}

footer .footer-bottom {
  font-family: var(--base-font);
  font-size: 0.8em;
  display: flex;
  color: var(--footer-bottom-color);
  padding: 10px 10px;
}

footer .footer-bottom-left {
  flex: 1;
}

footer .footer-bottom-right {
  flex: 1;
  text-align: right;
}

@media screen and (min-width: 576px) {
  footer .footer-top {
    display: flex;
  }

  /* Elemente, die genau gleich deklariert sind,
    kann man mit einem Beistrich verbinden: */
  footer .footer-left,
  footer .footer-right {
    flex: 1;
  }

  ul.list-footer-right {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {}

header h1 {
  font-size: 60px;
  line-height: 50px;
}

@media screen and (min-width: 992px) {
  #logo-left {
    position: fixed;
  }
  #logo-right {
    left: 12em;
    width: 17em;
  }

}

@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 90px;
    line-height: 70px;
  }
}
