.content-element {
  display: block;
  position: relative;
}

.content-element h2 {
  padding-top: 2em;
  font-weight: lighter;
}

.teaser {
  position: relative;
  background-color: #ff8000;
  min-height: 50vw;
  padding: 1em 0;
  color: white;
}

.content-text {
  padding: 1rem 0;
}

.content-text img {
  max-width: 100%;
  max-height: 10em;
}

div.button-center {
  text-align: center;
}

a.button {
  display: inline-block;
  padding: 1em 2em;
  background: #ff8000;
  color: white;
  text-decoration: none;
  margin: 2em 0;
}

a.button:hover {
  opacity: 0.7;
}

.banner-leistungen {
  display: flex;
  flex-wrap: wrap;
}

.leistungen-title h3 {
  font-family: var(--alternative-font);
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1em;
  color: var(--dark-grey);
  text-align: center;
  padding: 0 5em;
}

.leistungen-image {
  max-width: 100%;
  display: block;
}

.leistungen-left {
  flex: 1;
}

.leistungen-middle {
  flex: 1;
}

.leistungen-right {
  flex: 1;
}

.leistungen-button {
  display: block;
  background: #00c4d3;
  text-align:center;
  color: white;
  padding: 0.5em 0;
}

.leistungen-button p {
  margin: 0;
}

.leistungen-middle .leistungen-button {
  background: #00838d;
}

.leistungen-right .leistungen-button {
  background: #004d53;
}

/* Hover-Effekt für Leistungs-Banner */

.leistungen-left:hover {
  opacity: .6;
}

.leistungen-middle:hover {
  opacity: .6;
}

.leistungen-right:hover {
  opacity: .6;
}



.grid-container-leistungen {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: 100%;
}

.grid-container-leistungen a:hover {
  opacity: .6;
}

.item-left-title, .item-middle-title, .item-right-title  {
  grid-column:1 / span 1;
  grid-row:1 / span 1;
}

.item-left-image, .item-middle-image, .item-right-image {
  grid-column:1 / span 1;
  grid-row:3 / span 1;
  width: 100%
}

.item-left-button, .item-middle-button, .item-right-button {
  grid-column:1 / span 1;
  grid-row:2 / span 1;
}

#malermeister .teaser {
  background-color: rgba(255, 125, 0, 0.8);
  min-height: 100%;
}

#brillux header img {
  width: 100%;
}

#brillux .button {
  background: #00c4d3;
}

#leistungen-und-service .teaser {
  background-color: #004d53;
  min-height: 15vw;
}

#kontakt .teaser {
  min-height: 0vw;
}

@media screen and (min-width: 992px) {
  .teaser p {
    max-width: 35%;
  }

  .content-text p {
    max-width: 75%;
  }

  .content-text img {
    max-width: 75%;
  }

  #brillux p {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {

}

@media screen and (min-width: 1200px) {
  .teaser {
    min-height: none;
    max-height: 60vw;
  }

  .content-text img {
    max-height: 10em;
  }
}
